extends ../layout/base-layout.pug

block content
    div.container.my-5
        h2 Create a New Product
        form(action="/products/create" method="POST")
            .form-group
            label(for="name") Name:
            input#name.form-control(type="text" name="name" required)
            .form-group
            label(for="description") Description:
            textarea#description.form-control(name="description" required)
            .form-group
            label(for="price") Price:
            input#price.form-control(type="number" name="price" step="0.01" required)
            .form-group
            label(for="image") Image URL:
            input#image.form-control(type="text" name="image" required)
            .form-group
            button.btn.btn-primary(type="submit") Create Product
